/* ------------basic styling ------------*/
* {
    box-sizing: border-box;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

header {
/* background-color: #000; */

background-image: url("https://media.giphy.com/media/xTg8AOrfulvLaGx39K/giphy.gif");
opacity: .5;
}
.display-results-heading {
color: white;
}
h1 {
 font-size: 40px;
 padding: 15px;

}

h2 {
 font-size: 25px;

}

body {
 background-color: #00162b;   
}

header, h1, h2, main{
    text-align: center;
    padding: 20px;
    color: white;
  }

p, body{
    text-align: justify center;
    padding: 20px;
  }

  /* -----------search bars set-up-------------- */
section {
 padding: 20px;
 margin: 5px;
 border: 5px #000;
 border-style: solid;
 display: inline-block;
 background-color: #f8dfcf;
}
/* button holder */
.NASA {
 padding: 105px;
 padding-bottom: 170px;   
 background-image: url("https://media.giphy.com/media/vp6y8J5c19MtO/giphy.gif");
}
#NASA-search-box{
    padding: 2px;
    border: 50px;
    color: #00162b;
}

 button {
    font-size: 14px;
    color: #00162b;
}

 /* -----------video set-up-------------- */
video{
    width: 100%    !important;
    height: auto   !important;
}
.dont-break-out {

    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
  
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  
  }

/* --------- images set-up ------------*/
img{
    display: block;
    width: 100%;
    height: auto;
}

  /* -----------grid styling---------- */
  .container{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-gap: 10px 10px;
    margin-bottom: 150px;
  }

  #display-images{

  }

  /* --------luminaire effect---------- */
       
.luminaire {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #000;
    box-shadow: 0 0 40px 20px #fff, 0 0 100px 50px #0ff;
    transition: box-shadow 8s ease-out;
    animation: spin 12s linear infinite;
    top: calc(50% - 65px);
    left: calc(50% - 290px);
    margin: 0 auto;
    text-align: center;
} 
@keyframes spin {
    100% {
    transform: rotate(360deg);
    }
}

.luminaire::before, .luminaire::after {
    content: '';
    display: block;
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 40px 20px #fff, 0 0 100px 50px #ff0;
    opacity: 0;
    transition: opacity 8s, transform 8s;
}
      
.on {
 background-color: #fff;
 box-shadow: 0 0 80px 40px #fff, 0 0 300px 95px #f0f;
}

.on::before {
  transform: translateX(-90px);
  opacity: 1;
}
      
.on::after {
  transform: translateX(90px);
  opacity: 1;
}